<!DOCTYPE html>
<html>
<head>
    <title>VectorTile - Leaflet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/leaflet.css" rel="stylesheet"/>

</head>
<body onload="init()">
<div id="mapbox" style="width: 100%; height:600px;"></div>
</body>
<script src="assets/components/jquery/jQuery-2.1.1.min.js"></script>
<script src="assets/components/leaflet/leaflet.js"></script>
<script src="assets/components/leaflet/leaflet-tilelayer-wmts-src.js"></script>
<!--<script src="assets/components/leaflet-MapboxVectorTile/Leaflet.MapboxVectorTile.js"></script>-->
<script src="assets/scripts/vt.js"></script>
</html>